
<nav class="nav">
  <div class="container">
    <h1 class="logo"><a href="{{ '/' | prepend: site.baseurl | prepend: site.url }}"><span class="logoA">/</span><span class="logoB">\</span><span class="logoC">/</span>{{ site.title_left }}<span class="logoDot">/\</span><span>{{ site.title_right }}</span></a></h1>
    <ul class="navbar">
      <li><a href="{{ '/about' | prepend: site.baseurl | prepend: site.url }}">/about</a></li>
      <li><a href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" target="_blank">/rss</a></li>
    </ul>
  </div>
</nav>
